<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col>
      <ion-searchbar (ionInput)="getSearch($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-list>
     <ion-item *ngFor="let user of result">
       <h2 *ngIf="user._id != 0">Usuario: {{ user.username }}</h2>
       <p  *ngIf="user._id != 0">ID: {{user._id}}</p>
       <h2  *ngIf="user._id == 0"> {{user.username}}</h2>
     </ion-item>

  </ion-list>
</ion-content>